{% extends "base.html" %}
{% block content %}

<ol class="breadcrumb">
	<li><a href="/">首页</a></li>
	<li class="active">{{b.name}}</li>
</ol>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>标题</th>
			<th>作者</th>
			<th>创建时间</th>
			<th>最后更新时间</th>
		</tr>
	</thead>
	<tbody>
		{% for article in articles %}
		<tr>
			<td><a href="/article/detail/{{article.id}}">{{ article.title }}</a></td>
			<td>{{ article.content }}</td>
			<td>{{ article.create_timestamp|date:"Y-m-d P" }}</td>
			<td>{{ article.last_update_timestamp|date:"Y-m-d P" }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<nav aria-label="Page navigation">
  <ul class="pagination">
  	{% if articles.has_previous %}
    <li>
      <a href="?page_no={{articles.previous_page_number}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}
	
	{% for page_no in articles.paginator.page_range %}
		{% if page == page_no %}
	    <li class="active"><a href="?page_no={{page_no}}">{{ page_no }}</a></li>
		{% else %}
		<li><a href="?page_no={{page_no}}">{{ page_no }}</a></li>
		{% endif %}
    {% endfor %}
    
    {% if articles.has_next %}
    <li>
      <a href="?page_no={{articles.next_page_number}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>

<a href="/article/publish/{{b.id}}" class="btn btn-primary">发表文章</a>
<br />
<br />

{% endblock %}