<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>论坛首页</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
  <div class="row">
   <div class="col-xs-12 col-md-12">
    <div class="jumbotron">
      <center><h1>Python部落</h1></center>
    </div>
   </div>
  </div>
  <div class="row">
   <div class="col-xs-12 col-md-10">
      <!-- <div class="panel panel-default">
        <div class="panel-heading">
        <a href="#" style="font-size: 16px">运维专区</a>
        <span class="pull-right">yidagege</span>
        </div>
        <div class="panel-body">
        运维人员看过来
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
        <a href="#" style="font-size: 16px">运维专区</a>
        <span class="pull-right">yidagege</span>
        </div>
        <div class="panel-body">
        运维人员看过来
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
        <a href="#" style="font-size: 16px">运维专区</a>
        <span class="pull-right">yidagege</span>
        </div>
        <div class="panel-body">
        运维人员看过来
        </div>
      </div> -->

     {% for b in blocks %}
     <div class="panel panel-default">
        <div class="panel-heading">
        <a href="#" style="font-size: 16px">{{b.name}}</a>
        <span class="pull-right">{{b.manager}}</span>
        </div>
        <div class="panel-body">
        {{b.desc}}
        </div>
      </div>
     {% endfor %}
   </div>
   
   <div class="col-xs-12 col-md-2">
    <div class="well">个人中心</div>
   </div>
  </div>
</div>

</body>
</html>
